<% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('.error', count: resource.errors.count) %> <%= t('.model_not_saved') %>:</h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
