<p>Привет, <%= @user.email %></p>

<p>Вы купили билет по маршруту <%= @ticket.route_name %></p>
<p>Увидеть билет Вы можете <%= link_to "здесь", @ticket %></p>
<p>Все свои билеты Вы можете увидеть <%= link_to "здесь", tickets_url %></p>
